body {
    font-family: 'Montserrat', sans-serif;
  }

  /* navbar */
  .navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    }
    .search_box {
      width: 20%;
    }

    /* hero */
    #hero {
      width: 100%;
      height: 100vh;
      background: url("assets/img/hero_img-1.svg") top center;
      background-size: cover;
      position: relative;
      padding: 0;
      margin-bottom: 70px;
    }
    #hero:before {
      content: "";
      background: rgba(13, 20, 26, 0.7);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    #hero .hero-container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    #hero h1 {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      color: #fff;
      }
      #hero span {
        color: #F2ED20;
      }
    #hero .btn-get-started {
      font-weight: 600;
      font-size: 14px;
      display: inline-block;
      padding: 10px 35px 10px 35px;
      border-radius: 4px;
      transition: 0.5s;
      color: #fff;
      background: transparent;
      border: 4px solid #fff;
      text-decoration: none;
    }
    #hero .btn-get-started:hover {
      border-color: #fff;
      background: #F2ED20;
    }
    .beranda img {
      height: 60%;
    }


    .capt {
      color: #011345;
      font-weight: 400;
      line-height: 24px;
    }
    .title-content {
      color: #011345;
      font-weight: 600;
    }
    .explore-btn {
      background-color: #F2ED20;
      padding: 5px 10px 5px 10px;
      border-radius: 10px;
      color: #011345;
      font-weight: 600;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    }

    .counter {
      background-color: #011345;
      height: 300px;
      margin-bottom: 100px;
    }

    /* beranda content */
    .list-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .program-img {
      max-width: 100%; 
      height: auto; 
      min-height: 80%;
      margin-top: 50px;
    }
      .list-eskul .eskul-img {
        height: 350px;
        width: auto;
        margin: 0px 20px 0px 20px;
      }
