@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
  }

  /* navbar */
  .navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    }
    .search_box {
      width: 20%;
    }

    /* hero */
    #hero {
      width: 100%;
      height: 100vh;
      background: url("assets/img/hero_img-1.svg") top center;
      background-size: cover;
      position: relative;
      padding: 0;
      margin-bottom: 70px;
    }
    #hero:before {
      content: "";
      background: rgba(13, 20, 26, 0.7);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    #hero .hero-container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    #hero h1 {
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      color: #fff;
      }
      #hero span {
        color: #F2ED20;
      }
    #hero .btn-get-started {
      font-weight: 600;
      font-size: 14px;
      display: inline-block;
      padding: 10px 35px 10px 35px;
      border-radius: 4px;
      transition: 0.5s;
      color: #fff;
      background: transparent;
      border: 4px solid #fff;
      text-decoration: none;
    }
    #hero .btn-get-started:hover {
      border-color: #fff;
      background: #F2ED20;
    }
    .beranda img {
      height: 60%;
    }


    .capt {
      color: #011345;
      font-weight: 400;
      line-height: 24px;
    }
    .title-content {
      color: #011345;
      font-weight: 600;
    }
    .explore-btn {
      background-color: #F2ED20;
      padding: 5px 10px 5px 10px;
      border-radius: 10px;
      color: #011345;
      font-weight: 600;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    }

    .counter {
      background-color: #011345;
      height: 300px;
      margin-bottom: 100px;
    }

    /* beranda content */
    .list-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .program-img {
      max-width: 100%; 
      height: auto; 
      min-height: 80%;
      margin-top: 50px;
    }
      .list-eskul .eskul-img {
        height: 350px;
        width: auto;
        margin: 0px 20px 0px 20px;
      }

    header.masthead{
  background-image: url("img/Rectangle 87.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 16.5rem;
  padding-bottom: 8rem;
  text-align: center;
  color: #fff;
}
header.masthead .masthead-heading{
  font-size: 64px;
  font-weight: 600;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: 'Montserrat';
}
header.masthead .masthead-logo{
    margin-bottom: 190px;
    margin-top: -245px;
}
.menu{
    font-size: 40px;
    text-align: left;
    color: white;
    margin-bottom: 190px;
    margin-top: -268px;
}
.search1{
    font-size: 40px;
    text-align: right;
    color: white;
    margin-bottom: 190px;
    margin-top: -258px;
}
.tentang-kami{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: black;
    position: absolute;
    width: 358px;
    height: 58px;
    top: 629px;
    text-align: left;
}
.line-kuning, .line-kuning2, .lmisi{
    border: 2px solid #F2ED20;
    color: #F2ED20;
    width: 230px;
    height: 0px;
    text-align: left;
    position: absolute;
    top: 697px;
}
.des-tentang{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 26px;
    text-align: justify;
    color: black;
    top: 775px;
    position: absolute;
    width: 633px;
}
.logo-besar{
    position: absolute;
    top:775px;
    right: 30px;
}
.box-kuning{
    position: absolute;
    width: 920px;
    height: 246px;
    top: 1393px;
    left: 160px;

    background: #F2ED20;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.motto, .motto-2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    margin-top: 43px;
    color: black;
    text-align: center;
}
.motto-2{
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;
}
.bisa43{
    font: 550;
}
.visi, .misi{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    color: black;
    left: 47%;
    top: 1710px;
    position: absolute;
}
.line-kuning2, .lmisi{
    top: 1773px;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 538px;
}
.visi2{
    text-align: center;
    top: 1800px;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    color: black;
    width: 900px;
    margin-left: 124px;
}
.misi{
    top: 2000px;
}
.lmisi{
    top: 2064px;
}
.nomor{
    float: left;
    position: absolute;
    color: black;
    font-size: medium;
    margin-left: 30px;
}
.no1{
    color: black;
    margin-left: 30px;
}
