@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
  }

  /* navbar */
  .navbar {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    }
    .search_box {
      width: 20%;
    }

    /* hero */
    #hero{
      width: 100%;
      height: 100vh;
      background: url("assets/img/hero_img-1.svg") top center;
      background-size: cover;
      position: relative;
      padding: 0;
      margin-bottom: 70px;
    }
    .background-desktop-1{
      width: 1280px;
      height: 600px;
      padding: 0;
      margin-left: -32px;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    #hero-1 {
      width: 100%;
      height: 50vh;
      background-size: cover;
      position: relative;
      padding: 0;
      margin-bottom: 70px;
    }
    #hero:before, .background-desktop-1::before {
      content: "";
      background: rgba(13, 20, 26, 0.7);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    #hero .hero-container, #hero-1 .hero-container {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    #hero h1, #hero-1 h1{
      margin: 0 0 10px 0;
      font-size: 48px;
      font-weight: 600;
      line-height: 56px;
      color: #fff;
      }
      #hero span {
        color: #F2ED20;
      }
    #hero .btn-get-started, #hero-1 .btn-get-started{
      font-weight: 600;
      font-size: 14px;
      display: inline-block;
      padding: 10px 35px 10px 35px;
      border-radius: 4px;
      transition: 0.5s;
      color: #fff;
      background: transparent;
      border: 4px solid #fff;
      text-decoration: none;
    }
    #hero .btn-get-started:hover, #hero-1 .btn-get-started:hover {
      border-color: #fff;
      background: #F2ED20;
    }
    .beranda img {
      height: 60%;
    }


    .capt {
      color: #011345;
      font-weight: 400;
      line-height: 24px;
      text-align: justify;
    }
    .title-content {
      color: #011345;
      font-weight: 600;
    }
    .explore-btn {
      background-color: #F2ED20;
      padding: 5px 10px 5px 10px;
      border-radius: 10px;
      color: #011345;
      font-weight: 600;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
    }

    .counter {
      background-color: #011345;
      height: 300px;
      margin-bottom: 100px;
    }

    /* beranda content */
    .list-content {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
    .program-img {
      max-width: 100%; 
      height: auto; 
      min-height: 80%;
      margin-top: 50px;
    }
      .list-eskul .eskul-img {
        height: 350px;
        width: auto;
        margin: 0px 20px 0px 20px;
      }

  header.masthead{
  background-image: url("img/Rectangle 87.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #fff;
  top: 750px;
  position: fixed;
}
.masthead-heading{
  font-size: 64px;
  font-weight: 600;
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  padding-top: 240px;
  position: relative;
}
header.masthead .masthead-logo{
    margin-bottom: 190px;
    margin-top: -245px;
}
.menu{
    font-size: 40px;
    text-align: left;
    color: white;
    
}
.search1{
    font-size: 40px;
    text-align: right;
    color: white;
    margin-bottom: 190px;
    margin-top: -258px;
}
.tentang-kami{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    color: black;
    position: absolute;
    width: 358px;
    height: 58px;
    top: 629px;
    text-align: left;
}
.line-kuning, .line-kuning2, .lmisi{
    border: 2px solid #F2ED20;
    color: #F2ED20;
    width: 230px;
    height: 0px;
    text-align: left;
    position: absolute;
    top: 697px;
}
.des-tentang{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 26px;
    text-align: justify;
    color: black;
    top: 775px;
    position: absolute;
    width: 633px;
}
.logo-besar{
    position: absolute;
    top:775px;
    text-align: right;
}
.box-kuning{
    position: absolute;
    width: 920px;
    height: 246px;
    top: 1393px;
    left: 110px;

    background: #F2ED20;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.motto, .motto-2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    margin-top: 43px;
    color: black;
    text-align: center;
}
.motto-2{
    font-weight: 400;
    font-size: 40px;
    margin-top: 30px;
}
.bisa43{
    font: 550;
}
.visi, .misi{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 48px;
    color: black;
    left: 47%;
    top: 1710px;
    position: absolute;
}
.line-kuning2, .lmisi{
    top: 1773px;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 488px;
}
.visi2{
    text-align: center;
    top: 1800px;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    color: black;
    width: 900px;
    margin-left: 124px;
}
.misi{
    top: 2000px;
}
.lmisi{
    top: 2064px;
}
.nomor{
    float: left;
    position: absolute;
    color: black;
    font-size: medium;
    margin-left: 30px;
}
.no1{
    top: 2100px;
}
.no2{
  top: 2220px;
}
.no3{
  top: 2340px;
}
.no4{
  top: 2510px;
}
.no5{
  top: 2620px;
}
.dmisi{
    color: black;
    margin-left: 180px;
    position: absolute;
    font-size: 32px;
    font-weight: 500;
    width: 850px;
    text-align: left;
}

/* navbar */
.navbar {
  background-color: transparent;
  padding: 0px;
  }
  .navbar.scrolled {
    background-color: #011345 !important;
    transition: background-color 200ms linear;
    color:#011345;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.30);
  }
  
.logo-nav {
  width: 54px;
  height: auto;
  margin-right: -10px;
  margin-top: -5px;
}
.navbar-brand h3{
  margin-bottom: -5px;
  font-size: 27px;
}
.navbar-brand h5 {
  font-size: 18px;
}
.navbar-brand h1 {
  margin-left: -12px;
  font-size: 42px;
}
  
  .search {
    height: 35px;
    width: 35px;
    box-sizing: border-box;
    margin: 0px 0px 7px 0px;
    padding: 7px 0px 0px 9px;
    border: 3px solid #fff;
    border-radius: 25px;
    transition: all 200ms ease;
    cursor: text;
    }
    .search:after {
      content: "";
      position: absolute;
      width: 3px;
      height: 20px;
      right: -5px;
      top: 21px;
      background: #fff;
      border-radius: 3px;
      transform: rotate(-45deg);
      transition: all 200ms ease;
    }
    .search.active,
    .search:hover {
      width: 200px;
      margin-right: 0px;
    }
    .search:after {
      height: 0px;	
    }
    .search input {
      width: 100%;
      border: none;
      box-sizing: border-box;
      font-size: 15px;
      color: #fff;
      background: transparent;
      outline-width: 0px;
    }
  .muat-btn {
    margin: auto;
  }

  .beranda img {
    height: 70%;
  }
  .text-about {
    margin-top: 200px;
  }

  .capt {
    color: #011345;
    font-weight: 400;
    line-height: 24px;
  }
  .title-content {
    color: #011345;
    font-weight: 600;
  }
  .explore-btn {
    background-color: #F2ED20;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    color: #011345;
    font-weight: 600;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
  }
  .explore-btn:hover {
    background-color: #011345;
    color: #F2ED20;
  }

  .counter {
    background-color: #011345;
    height: 300px;
    margin-bottom: 100px;
    margin-top: -225px;
  }

  /* beranda content */
    .eskul-img {
      height: fit-content;
      width: auto;
      margin: 0px 10px 0px 10px;
      box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      border: 0px;
    }
    .eskul-img img {
      border-radius: 20px;
      border: 0px;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #011345;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #f1f1f1;
      display: block;
      transition: 0.3s;
    }
    
    .sidenav a:hover {
      color: #F2ED20;
    }
    
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    .sidenav-btn {
      color: #fff;
      font-size:18px;
      cursor:pointer
    }

    .sidenav-btn:hover {
      color: #F2ED20;
      transition: 0.5s;
    }
    
    #main {
      transition: margin-left .5s;
      padding: 16px;
    }
    
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }

    .footer{
      background-color: #011345;
      color: #fff;
      padding:30px 0px 20px 0px;
    }
    .brand-footer {
      height: 200px;
      width: auto;
    }
    .ttl-footer {
      font-weight: 400;
      letter-spacing: 0.16em;
      font-size: 24px;
    }
    .capt-footer li {
      font-weight: 300;
      letter-spacing: 0.16em;
      font-size: 16px;
    }
    .capt-footer a{
      color: #fff;
      text-decoration: none;
    }
    .capt-footer a:hover{
      color: #F2ED20;
      text-decoration: none;
      z-index: -1;
      transition: transform 3s ease;
      font-weight: 400;
    }
    .socmed a {
      color: #fff;
      margin-left: 20px;
      font-size: 20pt;
    }

    .hover {
      overflow: hidden;
      position: relative;
      padding-bottom: 60%;
      height: max-content;
    }
    
    .hover-overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 90;
      transition: all 0.4s;
    }
    
    .hover img {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s;
      height: auto; 
    }
    
    .hover-content {
      position: relative;
      z-index: 99;
    }

    .program {
      width: 99%;
    }

    .hover-1::after {
      content: '';
      width: calc(100% - 3rem);
      height: calc(100% - 3rem);
      border: 1px solid #fff;
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      z-index: 90;
      transition: all 0.3s;
      transform: scale(1.1);
      opacity: 0;
      display: block;
      opacity: 0;
    }
    
    .hover-1-content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      z-index: 99;
    }
    
    .hover-1-description {
      opacity: 0;
      transform: scale(1.3);
      transition: all 0.3s;
    }
    
    .hover-1 img {
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .hover-1:hover img {
      width: 100%;
    }
    
    .hover-1:hover::after {
      opacity: 1;
      transform: none;
    }
    
    .hover-1:hover .hover-3-description {
      opacity: 1;
      transform: none;
    }
    
    .hover-1:hover .hover-overlay {
      background: rgba(1, 19, 65, 0.8);
    }

    .hover-2::after {
      content: '';
      width: calc(100% - 3rem);
      height: calc(100% - 3rem);
      position: absolute;
      top: 1.5rem;
      left: 1.5rem;
      z-index: 90;
      transition: all 0.3s;
      transform: scale(1.1);
      opacity: 0;
      display: block;
      opacity: 0;
    }
    
    .hover-2-content {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      text-align: center;
      z-index: 99;
    }
    
    .hover-2-description {
      opacity: 0;
      transform: scale(1.3);
      transition: all 0.3s;
    }
    
    .hover-2 img {
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    .hover-2:hover img {
      width: 100%;
    }
    
    .hover-2:hover::after {
      opacity: 1;
      transform: none;
    }
    
    .hover-2:hover .hover-3-description {
      opacity: 1;
      transform: none;
    }
    
    .hover-2:hover .hover-overlay {
      background: rgba(1, 19, 65, 0.8);
    }
    
    /* card blog */
    .card-blog{
      transition:0.5s;
      cursor:pointer;
      box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
    }
    .card-title{  
      transition:1s;
      cursor:pointer;
      color: #011345;
      font-weight: 600;
    }
    .card-blog:hover{
      transform: scale(1.05);
      box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    }
    .card-blog .card-text{
      color: #011345;
    }
    
    .card-blog::before, .card-blog::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: scale3d(0, 0, 1);
      transition: transform .3s ease-out 0s;
      background: rgba(255, 255, 255, 0.1);
      content: '';
      pointer-events: none;
    }
    .card-blog::before {
      transform-origin: left top;
    }
    .card-blog::after {
      transform-origin: right bottom;
    }
    .card-blog:hover::before, .card-blog:hover::after, .card:focus::before, .card:focus::after {
      transform: scale3d(1, 1, 1);
    }
    .card-blog img {
      border-radius: 20px 20px 0px 0px;
    }
    .sidebar .h5 {
      color: #011345;
      text-transform: uppercase;
    }
    .sidebar {
      padding-left: 30px;
    }

    /* Pengaturan border-collapse jenis,ukuran serta warna huruf secara keseluruhan tabel */
table{
  border-collapse:collapse;
  font:normal normal 12px Verdana,Arial,Sans-Serif;
  color:#333333;
}
/* Mengatur warna latar, warna teks, ukruan font dan jenis bold (tebal) pada header tabel */
table th {
  background:#00BFFF;
  color:#070505;
  font-weight:bold;
  font-size:14px;
}
/* Mengatur border dan jarak/ruang pada kolom */
table th,
table td {
  vertical-align:top;
  padding:12px 100px;
  border:1px solid #696969;
}
/* Mengatur warna baris */
table tr {
  background:#F5FFFA;
}
/* Mengatur warna baris genap (akan menghasilkan warna selang seling pada baris tabel) */
table tr:nth-child(even) {
  background:#F0F8FF;
}

.box{
  height: 50px;
  width: 1000px;
  margin: 0 auto;
}

.list-sidebar a{
  color: #011345;
}

.list-sidebar a:hover {
  text-decoration: none;
}

.img-program {
  border-radius: 20px;
}
.capt-program {
  margin-left: -50px;
  padding-top: 50px;
}

.sejarah-43 p {
  color: #011345;
  text-align: justify;
}
.sejarah-43 {
  margin-bottom: 70px;
}

.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 20px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.img-sarana img{
  height: 342px;
  width: auto;
}
.img-sarana {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}